<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Campus Connect</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CampusConnect.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/0a770bd101.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar shadow border-body" style="background-color:#010409">
            <div class="container">
                <a asp-area="" asp-controller="Account" asp-action="Login">
                    <img src="/images/LOGO.png" width="50px" />
                </a>

                <div class="d-flex justify-content-between">

                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<ApplicationUser> SignInManager
                    @inject UserManager<ApplicationUser> UserManager

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var appUser = await UserManager.GetUserAsync(User);
                        if (User.IsInRole("admin"))
                        {
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @(appUser!.Nome + "(Admin)")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Alunos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
                                </ul>
                            </div>
                        }
                        else if (User.IsInRole("aluno"))
                        {
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle me-0 text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @(appUser!.Nome)
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <ul class="navbar-nav d-flex align-items-center">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <div class="navbar d-flex">
                            <div class="nav-item me-2">
                                <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Registrar</a>
                            </div>
                            <div class="nav-item">
                                <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Login">Entrar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>