@model PasswordDto
@{
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="login-container my-5 p-4 card shadow-lg border border-dark">
            <h2 class="text-center mb-3">Alterar senha</h2>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                    <strong>@ViewBag.ErrorMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            }
            else if (ViewBag.SuccessMessage != null)
            {
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@ViewBag.SuccessMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            }

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Senha atual</label>
                    <input class="form-control" type="password" asp-for="SenhaAtual">
                    <span asp-validation-for="SenhaAtual" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Nova senha</label>
                    <input class="form-control" type="password" asp-for="NovaSenha">
                    <span asp-validation-for="NovaSenha" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirmar nova senha</label>
                    <input class="form-control" type="password" asp-for="ConfirmarSenha">
                    <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">Alterar</button>
                    <a class="btn btn-light border" asp-controller="Account" asp-action="Profile" role="button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
