@model PasswordResetDto
@{
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-container p-4 card shadow-lg border border-dark">
                <h2 class="text-center mb-3">Alterar Senha</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                        <strong>@ViewBag.ErrorMessage</strong>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
                }
                else if (ViewBag.SuccessMessage != null)
                {
                    <div class='alert alert-success alert-dismissible fade show' role='alert'>
                        <strong>@ViewBag.SuccessMessage</strong>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
                }

                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nova Senha</label>
                        <input asp-for="Senha" type="password" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirmar Nova Senha</label>
                        <input asp-for="ConfirmarSenha" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Alterar</button>
                        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">Entrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
