@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@{
    var appUser = await UserManager.GetUserAsync(User);
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="container-fluid text-center" style="min-height: 100vh;">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-8">
            @if (appUser != null)
            {
                <h3 class="py-3">Olá @appUser?.Nome!</h3>
                <div class="container-fluid mt-4 shadow-lg">
                    <h5 class="mb-0">Total de alunos: <strong>@ViewBag.TotalUsers</strong></h5>
                    <div class="d-flex justify-content-center">
                        <div class="chart-wrapper w-100">                            
                            <canvas id="instituicaoChart" class="w-100"></canvas>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <img src="~/Images/LOGO.png" alt="Campus Connect" class="img-fluid mb-4" />
                <div class="navbar d-flex justify-content-center">
                    <div class="nav-item me-3">
                        <a class="btn btn-primary px-4 py-2" asp-area="" asp-controller="Account" asp-action="Register" style="font-size: 1.2rem;">REGISTRAR</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn-success px-4 py-2" asp-area="" asp-controller="Account" asp-action="Login" style="font-size: 1.2rem;">ENTRAR</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var instituicaoCounts = JSON.parse('@Html.Raw(ViewBag.UsersInst)');
        console.log(instituicaoCounts); 

        instituicaoCounts.sort((a, b) => b.Count - a.Count);

        var labels = instituicaoCounts.map(x => x.Instituicao);
        var data = instituicaoCounts.map(x => x.Count);

        var fixedColors = {
            'UNESC': '#0000FF', // Azul
            'CASTELO BRANCO': '#00FF00', // Verde
            'IFES': '#FF0000', // Vermelho
            'SENAI': '#FFEB00' // Amarelo
        };

        function generateRandomColor() {
            return '#' + Math.floor(Math.random() * 16777215).toString(16);
        }

        var backgroundColors = instituicaoCounts.map(x => {
            if (fixedColors[x.Instituicao]) {
                return fixedColors[x.Instituicao];
            } else {
                return generateRandomColor(); 
            }
        });

        var ctx = document.getElementById('instituicaoChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            position: 'right',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColors,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            color: 'white',
                            font: {
                                size: 15
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return 'Total de alunos: '+ tooltipItem.raw + '.';
                            }
                        }
                    }
                }
            }
        });
    });

    window.addEventListener('resize', function () {
        var ctx = document.getElementById('instituicaoChart').getContext('2d');
        var myPieChart = Chart.getChart(ctx); // Obtém a instância do gráfico
        if (myPieChart) { // Verifica se o gráfico existe
            myPieChart.resize();
            myPieChart.update(); // Força a atualização do gráfico
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

